.attendance h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #2c3256;
}
.attendance h4 {
  font-family: "Inter";
  font-style: normal;
  margin-top: 4rem;
  font-weight: 700;
  font-size: 20px;
  color: #2c3256;
}
.attendance-card {
 
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  flex: 1 1 44%;
  margin: 1rem 6% 1rem 0%;
  position: relative;
  max-width: 40%;
}
.attendance-card-1 {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.attendance-card-container {
  display: flex;
  flex-wrap: wrap;
}

.attendance-card-1 img {
  height: 50px;
  margin: 5px 0.5rem 5px 0px;
  width: auto;
}
.attendance-card-icon {
  position: absolute;
  top: 20px;
  cursor: pointer;
  right: 20px;
}
.green {
  color: green;
  font-weight: bold;
}
.purple {
  font-weight: bold;
  color: purple;
}
.attendance-card-1 div{
  float: right;
}
