
.course-form-body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
 

  padding-top: 15rem;

}
.course-form {
  margin: 8% 50%;
 
  display: flex;
  flex-direction: column;
  width:  40rem;
  padding: 2rem;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background: #2c3256;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  
}

.course-form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.course-form .course-details-box {
  position: relative;
}

.course-form .course-details-box input,.course-form .course-details-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.course-form .course-details-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.course-form .course-details-box input:focus ~ label,
.course-form .course-details-box input:valid ~ label,
.course-form .course-details-box textarea:focus ~ label,
.course-form .course-details-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.course-form form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.course-form form a:nth-child(2){
  color: #e7592e;
}


.course-form a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.course-form a span {
  position: absolute;
  display: block;
}
.course-form a:nth-child(2):hover{
  background: #dd3e3e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #e7592e, 0 0 25px #e7592e, 0 0 50px #e7592e,
    0 0 100px #e7592e;
  
}


.course-form a:nth-child(1) span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(90deg, transparent, #03e9f4); */
  animation: btn-anim1 1s linear infinite;
}
.course-form a:nth-child(2) span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(90deg, transparent, #e7592e); */
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.course-form a:nth-child(1) span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(180deg, transparent, #03e9f4); */
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
.course-form a:nth-child(2) span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(180deg, transparent, #e7592e); */
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.course-form a:nth-child(1) span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(270deg, transparent, #03e9f4); */
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
.course-form a:nth-child(2) span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(270deg, transparent, #e7592e); */
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.course-form a:nth-child(1) span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(360deg, transparent, #03e9f4); */
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
.course-form a:nth-child(2) span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(360deg, transparent, #e7592e); */
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.course-form a{
  cursor: pointer;
  
}
.course-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
