
.dashboard h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #2c3256;
}
.dashboard h4 {
  font-family: "Inter";
  font-style: normal;
  margin-top: 4rem;
  font-weight: 700;
  font-size: 20px;
  color: #2c3256;
}
.course-card-3 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.course-card {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  width: calc(50% - 1.5rem);
  justify-content: space-between;
  margin: 1rem 1.5rem 1rem 0rem;
  position: relative;
}
.course-card-1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 0px 23px 0px 0px;
}
.course-card-container {
  display: flex;
  flex-wrap: wrap;
}
.course-card hr {
  color: gray;
  width: 80%;
  margin: auto;
}
.course-card-1 h3 span{
  font-weight: normal;
}
.course-card-2 {
  margin-bottom: 10px;
}
.course-card-1 img {
  height: 50px;
  margin: 5px 0.5rem 5px 0px;
  width: auto;
}
.course-card-icon {
  position: absolute;
  top: 20px;
  cursor: pointer;
  right: 20px;
}
.course-card-icon .dropdown{
  display: none;
  background-color: white;
  color: black;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 4;
  white-space: nowrap;
  padding: 0.3rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 0.2rem;
}
.course-card-icon:hover .dropdown{
  display: block;
}
.course-card-icon .dropdown a{
  display: block;
}
.course-card hr{
  width: 100%;
}
.course-card .dropdown a:hover{
  font-weight: bold;
}
.course-add{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
cursor: pointer;
}
.course-add svg{
  font-size: 3rem;
  
}