.generate_session_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.generate_session_container .qr {
  width: 42%;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  min-width: 20rem !important;
}
.generate_session_content{
  margin-left: 1rem;
}
.generate_session_container .qr img {
  width: 100%;
  height: auto;
  margin: 0px;
}

.generate_session_content h1 {
  font-weight: 700;
  font-size: 48px;
  color: #2d3748;
}
.generate_session_content p {
  font-weight: 700;
  color: #2d3748;
  font-size: 20px;
  margin-top: 42px;
}
.generate_session_content button {
  margin: 4rem 0rem;
  margin-right: 2rem;
  /* display: block; */
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}
.generate_session_content button:hover {
  background-color: rgb(139, 235, 44);
  color: black;
}
@media only screen and (max-width: 1250px){

  .generate_session_content{
    margin-left: 1.3rem;
    margin-top: 20px;
  }
  .generate_session_content h1{
    font-size: 37px;
  }
  .generate_session_content p{
    margin-top: 35px;
  }
  }