.generate_session_container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.generate_session_container .qr {
  /* flex: 1 1 40%; */
  width: 42%;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}
.generate_session_container .qr img {
  width: 100%;
  height: auto;
  margin: 0px;

}
.generate_session_content{
    padding: 0px 20px;
    
}
.generate_session_content h1 {
    margin-top: 70px;
  font-weight: 700;
  font-size: 48px;
  color: #2D3748;
}
.generate_session_content p {
    font-weight: 700;
  color: #2D3748;
  font-size: 20px;
  margin-top: 42px;
}
.generate_session_content button{
    margin: 4rem 0rem;
    margin-right: 2rem;
    /* display: block; */
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
}
.generate_session_content button:hover{
  margin: 2rem 0rem;
  margin-right: 2rem;
  /* display: block; */
  background-color: rgb(139, 235, 44);
  color: black;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}
.qr{
  padding: 1rem !important;
  min-width: 25rem !important;
  height: 25rem !important;
  margin-right: 3rem;
  display: flex;
}