.setting-main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
}
.setting-up-1{
    margin: 2rem 4rem;
    display: flex;
    height: 50%;
}
.setting-up-1 img{
    margin: 2rem 4rem;
     width:20% ;

}
.setting-up-1 div{
    margin: auto 2rem;
     width:50% ;

}
.setting-up-1 p{
    margin:1rem 1rem;
    
    font-size: 1.5rem;

}
.black{
    color: black;
}
.white{
    color: #2c3256;
}
.setting-up-2{
    margin: auto 8rem;
    /* display: flex; */
    /* height: 50%; */
}
.setting-up-2 p{
    font-size: 2rem;
    margin: 0.5rem auto ;
}

