.student-dashboard-main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
}
.student-dashboard-up-1{
    margin: auto 4rem;
    display: flex;
    height: 50%;
}
.student-dashboard-up-1 img{
    margin: auto 4rem;
     width:20% ;
    max-height: 15rem;

}
.student-dashboard-up-1 div{
    margin: auto 2rem;
     width:50% ;

}
.student-dashboard-up-1 p{
    margin:1rem 1rem;
    
    font-size: 1.5rem;

}
.black{
    color: black;
}
.white{
    color: #2c3256;
}
.student-dashboard-down{
    margin: auto 8rem;
  
}
.student-dashboard-chart{
    display: flex;
    font-size: 2rem;
    /* margin: 2rem  ; */
    flex-direction: row;
    
}
.Piechart{
    /* height: 50%; */
    width: 30%;
}
.student-dashboard-attendence-info{

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}